{% extends '@ObsessionMain/baseObsession.html.twig' %}

{% block page %}
    <div class="phot">
        <ul class="pho">
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Mauriac-01-Mai-2015/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/01Mai2015.jpg') }}" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Anglards-de-Salers-14-Fevrier-2015/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/14Fevrier2015.jpg') }}" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Lutea-24Janvier2015/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/24Janvier2015.jpg') }}" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Menet-08Novembre2014/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/08Novembre2014.jpg') }}" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Saignes-23Aout2014/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/23Aout2014.jpg') }}" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ asset('bundles/obsessionmain/galerie/Trizac-15-Aout-2014/index.html') }}">
                    <img src="{{ asset('bundles/obsessionmain/img/couv-photos/15Aout2014.jpg') }}" alt="" />
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
