{% extends '@ObsessionMain/baseObsession.html.twig' %}

{% block css %}
    <link href="{{ asset('bundles/obsessionmain/css/Presentation.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block page %}
    <div class="presentation">
        <img class="barSeparation" src="{{ asset('bundles/obsessionmain/img/BarsSeparationPresentation.png') }}" width="40%"/>
        <p style="font-family:Intro;color:#eeeeee;font-size:30px;margin:0px;">QUI SOMMES NOUS ?</p>
        <img class="barSeparation" src="{{ asset('bundles/obsessionmain/img/BarsSeparationPresentation.png') }}" width="40%"/>
        <p class="textPresentation" style="margin-top:18px;">Depuis 2009, <span class="rose">Obsession</span> cree vos soirees sur la region.</p>
        <p class="textPresentation">Fort de son experience, c’est entre <span class="rose">50 et 60</span></p>
        <p class="textPresentation"><span class="rose">prestations</span> soirees qui sont realisees chaque annee.</p>
        <p class="textPresentation">Celles-ci comprennent l’animation, la distribution de</p>
        <p class="textPresentation">cadeaux, l’aide à la communication (affiches person-</p>
        <p class="textPresentation">nalisees, reseaux sociaux,…).</p>
        <p class="textPresentation"><span class="rose">Obsession</span>, c’est egalement  de la location de materiel</p>
        <p class="textPresentation">professionnel pour vos soirees</p>
        <p class="textPresentation">privees ou publics.  <a href="https://www.facebook.com/location.sono.cantal.15"><img src="{{ asset("bundles/obsessionmain/img/facebookPresentation.png") }}" width="2.2%"/></a></p>
        <p class="textPresentation"><span class="rose">Obsession</span>, c’est aussi la sonorisation et l’eclairage de</p>
        <p class="textPresentation">spectacle.   <a href="https://www.facebook.com/pages/Obsession-spectacle/679952675422590"><img src="{{ asset("bundles/obsessionmain/img/facebookPresentation.png") }}" width="2.2%"/></a></p>
        <p class="textPresentation"><span class="rose">Obsession</span>, c’est aussi depuis cette annee, de la</p>
        <p class="textPresentation">video-projection.</p>
    </div>
{% endblock %}
