{% extends '@ObsessionMain/baseObsession.html.twig' %}

{% block page %}
    <br>
    <div style="background-color: rgba(0,0,0,0.3);width: 100%;border: 1px solid #ba0f6f">
        <p class="infos120" style="text-decoration: underline;font-size: large;margin-top: 10px">Page d'administration</p>
        <hr style="background-color: #ba0f6f;height: 1px; border: none;width: 100%;margin: 0px">
        <div style="display: inline-block;width: auto;margin: 10px">
            <a href="{{ path('ajSoiree') }}" class="btn btn-default" style="background-color: #ba0f6f;border: none;float: left;color: #bbbbbb">Soirées</a>
            <a href="{{ path('ajLieux') }}" class="btn btn-default" style="background-color: #ba0f6f;border: none;float: left;color: #bbbbbb;margin-left: 15px">Lieux</a>
            <a href="{{ path('ajAffiche') }}" class="btn btn-default" style="background-color: #ba0f6f;border: none;float: left;color: #bbbbbb;margin-left: 15px">Affiches</a>
            <a href="{{ path('adminGalerie') }}" class="btn btn-default" style="background-color: #ba0f6f;border: none;float: left;color: #bbbbbb;margin-left: 15px">Galeries</a>
            <a href="{{ path('ajImageAccueil') }}" class="btn btn-default" style="background-color: #ba0f6f;border: none;float: left;color: #bbbbbb;margin-left: 15px">Photos Accueil</a>
        </div>
        <hr style="background-color: #ba0f6f;height: 1px; border: none;width: 100%;margin: 0px">
        <br>
    </div>
{% endblock %}

