{% extends '@ObsessionMain/baseObsession.html.twig' %}

{% block page %}
    <br>
    <div style="background-color: rgba(0,0,0,0.3);width: 100%;border: 1px solid #ba0f6f">
        <a href="{{ path('indexAdmin') }}" class="btn btn-default" style="float: left;margin: 4px"><span
                    class="glyphicon glyphicon-chevron-left"></span> Retour</a>
        <p class="infos120" style="text-decoration: underline;font-size: large;margin-top: 10px">Lieux</p>
        <hr style="background-color: #ba0f6f;height: 1px; border: none;width: 100%;margin: 0px">
        <br>
        <div style="text-align: center;padding-left: 20%;padding-right: 20%;color: #eeeeee">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Ajouter ce lieu">
            {{ form_end(form) }}
        </div>
        <br>
        <hr style="background-color: #ba0f6f;height: 1px; border: none;width: 100%;margin: 0px">
        <br>
        <div style="padding-right: 15%;padding-left: 15%;color: #eeeeee">
            <table class="table table-responsive">
                <tbody style="border: none">
                {% for lieu in lieux %}
                    <tr style="border: 1px solid #ba0f6f">
                        <td style="border: none">{{ lieu.nom ~  ' - ' ~lieu.adresse ~ ' - ' ~ lieu.code ~ ' - ' ~ lieu.ville }}</td>
                        <td style="border: none"><a href="{{ path('editLieux',{'lieu':lieu.id}) }}"
                                                    class="btn btn-warning">Modifier ce lieu</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
